<form action="/robots/<%= @robot.id %>" method="post">
  <p>Edit <%= @robot.name %></p><br />
  <input type="text" name="name" value=""><br />
  <input type="text" name="city" value=""><br />
  <input type="text" name="state" value=""><br />
  <input type="text" name="description" value=""><br />
  <input type="submit" value="save">
</form>
