<h1>Lets make a new robot</h1>

<form action="/robots" method="post">
  <p>name</p>
  <input type="text" name="robot[name]"><br />
  <p>city</p>
  <input type="text" name="robot[city]"><br />
  <p>state</p>
  <input type="text" name="robot[state]"><br />
  <p>department</p>
  <input type="text" name="robot[department]"><br />
  <input type="submit">
</form>
